@import '../../../styles/mixins';
@import '../../../styles/variables';

.item {
  text-align: center;
  padding: 15px;
  @include size(400px, 520px);
  @include border(1px, solid, white, 10px);
  background-color: #fff;
  .img {
    @include size(100%, 250px);
    cursor: pointer;
    transition: $transition;
    &:hover {
      opacity: 0.7;
    }
  }
  .info {
    div {
      text-align: center;
      margin: 10px 0;
      @include font(25px, semi-bold, normal);
    }
    .brand {
      @include font(45px, bold, normal);
    }
  }
}
